//可以写一些公共样式
@import './variable';
@import './mixin';

.err-msg {
  color: red;
}

.am-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.am-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.page-content {
  padding: 45px 5px;
}

.am-tab-bar {
  height: auto !important;
}
